@charset "UTF-8";     
	
	
	#hiddenform {
         padding: 0 !important;
     }
     @media(max-width: 767.98px){
         #hiddenform { margin-top: 0; }
     }
       
     /*------------- login css -------------*/          
     /* nav bar */    
    #navbar span{
        font-size: 13px;
        color: #fff;
    }    
    #navbar a.nav-link{
        padding-left: 10px;
        padding-right: 10px;
    }    
        
    /*  background image  */    
    #bgimage {
        margin-bottom: 0;
        height: 100vh;
    }
        
        
        
        
        
        
    /* 로그인 폼의 input */
     #LoginForm .form-control,
     #LoginForm2 .form-control,
     #LoginForm3 .form-control,
     #LoginForm4 .form-control {
         height: 30px !important;
         line-height: 30px;
         font-size: 13.5px;
         margin-bottom: 8px;
         color: #000 !important;
     }
     
     #LoginForm .inputbox,
     #LoginForm2 .inputbox,
     #LoginForm3 .inputbox,
     #LoginForm4 .inputbox {
         border: 1px solid #413A6D !important;
     }
     
     
     /* 로그인 폼의 제목 */ 
     #LoginForm .day-wrap,
     #LoginForm2 .day-wrap, 
     #LoginForm3 .day-wrap,
     #LoginForm4 .day-wrap {
         margin-bottom: 10px;
     }
     
     /* 로그인 폼의 label */
     #LoginForm label,
     #LoginForm2 label,
     #LoginForm3 label,
     #LoginForm4 label {
         font-size: 15px;
         margin-bottom: 0.25rem;
         font-family: 'Noto Sans KR', sans-serif !important;
     }
     
     /* 로그인 폼의 margin-top */
     #LoginForm,
     #LoginForm2,
     #LoginForm3,
     #LoginForm4 {
         margin-top: 5rem !important;
         font-family: 'Noto Sans KR', sans-serif !important;
     }
        
        
        

    /*로그인폼 텍스트:: 로그인 + 아이디찾기 + 비밀번호찾기*/    
     #prev1, #next1 {
         padding: 4px 20px !important; 
         font-size: 13px;
     }
    #prev1{
        float: left;
    }
     #next1 {
         float: right; 
     }
        
    #prev1, #next1, #join {
         font-size: 13px;
         color: #514988 !important;
         text-align: center;
         display: block;
         cursor: pointer;
    }
        
    #textboxwrap{
        clear: both;
    }    
        
    #join {
         /*margin: 20px 0 10px !important;*/
         clear: both;
    } 
     /*fid_msg*/
 /* 버튼 */    
    /*버튼:: 로그인 + 아이디찾기 + 비밀번호찾기*/    
    #LoginForm #jtype1, 
    #LoginForm2 #findID,
    #LoginForm3 #findPW, 
    #LoginForm2 .btn_goto_login,
    #LoginForm3 .btn_goto_login
    {
        margin-top: 13px !important;
        background-color: #6258A4 !important;
        color: #fff !important;
        /*font-weight:bold;*/ 
    }
    
    #LoginForm #jtype1:hover, 
    #LoginForm2 #findID:hover,
    #LoginForm3 #findPW:hover, 
    #LoginForm .btn_goto_login:hover
    {
        margin-top: 13px !important;
        background-color: #413A6D !important;
        color: #fff !important;
        /*font-weight:bold;*/ 
    }
    
        
     /*#LoginForm,*/
     #LoginForm2,
     #LoginForm3,
     #LoginForm4 {
         display: none;
     }
     /*------------- common css end -------------*/
     
     /*로그인 타입 선택창 */
     #jtype1,
     #jtype2,
     #jtype3,
     #jtype4 {
         margin-top: 13px !important;
     }
     
     #LoginForm #jtype1 {
         margin-bottom: 20px !important;
     }
     
     #jtype2 {
         background-color: #F5CF78 !important;
     }
         
     #jtype3 {
         background-color: #4DC953 !important;
     }
     
     #jtype4 {
         background-color: #216AE9 !important;
     }
    
    .warn_red{
        color: #F03E87;
        margin: 0;
        font-size: 12px;
        margin: 10px 0 15px;
    }
        
    .warn_blue {
        font-size: 13px;
        color: #514988 !important;
        margin: 0;
        margin: 20px 0 8px;
        text-align: center;        
        font-family: 'Noto Sans KR', sans-serif !important;
    }    
        
        
    #idchkbox,
    #pwchkbox,
    #pw2chkbox,
    #emailchkbox,
    #fid_name_chkbox,
    #fid_email_chkbox, 
    #fid_chkbox, 
    #fpw_id_chkbox,
    #fpw_email_chkbox, 
    #fpw_chkbox {
        display: none;
    }    
        
    
    
    
    